[Unit]
Description=Temperature alert every 5 minutes

[Service]
Type=oneshot
ExecStart=/home/raizen/.local/libexec/noba/temperature-alert.sh

[Install]
WantedBy=multi-user.target
