[Unit]
Description=Daily cloud backup

[Service]
Type=oneshot
ExecStart=/home/raizen/.local/libexec/noba/cloud-backup.sh

[Install]
WantedBy=multi-user.target
