[Unit]
Description=Nobara Web Dashboard
After=network.target

[Service]
Type=simple
# Point directly to the new monolithic backend location
ExecStart=/home/raizen/.local/libexec/noba/web/server.py
WorkingDirectory=/home/raizen/.local/libexec/noba/web
Environment=PYTHONUNBUFFERED=1
Environment=PORT=8080
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
