[Unit]
Description=Service watch every 15 minutes

[Service]
Type=oneshot
ExecStart=/home/raizen/.local/libexec/noba/service-watch.sh

[Install]
WantedBy=multi-user.target
